.home {
  display: grid;
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;

  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-template-areas: "sidebar" "main";
}

.home .sidebar {
  grid-area: sidebar;
  padding: rem(24) rem(16);
}

.home .main {
  grid-area: main;
  padding: 0 rem(16);
}

@media screen and (min-width: 768px) {
  .home {
    grid-template-columns: rem(312) 1fr;
    grid-template-areas: "sidebar main";
  }
}
