.actions {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: rem(24) 0;

  border-bottom: 1px solid $color-border;
}

.actions .search {
  flex: 1;
}

@media screen and (min-width: 1200px) {
  .actions {
    flex-direction: row;
  }
}
