.avatar {
  display: flex;
  gap: rem(16);
}

.avatar__image {
  grid-area: avatar-image;

  img {
    height: rem(80);
    width: rem(80);

    border: 1px solid $color-border;
    border-radius: 50%;
  }
}

.avatar__fullname {
  grid-area: fullname;
  font: $headline1;
  color: $white;
}

.avatar__username {
  grid-area: username;
  font: $headline2-ligth;
  color: $grey-2;
}

@media screen and(min-width: 768px) {
  .avatar {
    flex-direction: column;
  }

  .avatar__image {
    img {
      width: 100%;
      height: auto;
    }
  }
}
