.btn {
  border-radius: rem(8);
  cursor: pointer;
  text-align: center;

  &:active {
    transform: scale(0.96);
  }
}

.btn--text {
}

.btn--icon {
}

.btn--text,
.btn--icon {
  font: $button-text;
  background: $button;
  padding: rem(4) rem(24);
  border: 1px solid $button;
  color: $white;
  transition: 0.1s cubic-bezier(0.3, 0, 0.5, 1);

  &:hover {
    border: 1px solid $grey;
  }
}

.btn--icon i {
  color: $pink;
  padding-right: rem(4);
  font-size: rem(24);
  vertical-align: middle;
}

.btn--start {
}
