.btn {
  border-radius: rem(8);
  cursor: pointer;
  text-align: center;

  &:active {
    transform: scale(0.96);
  }
}

.btn--text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(14);
}

.btn--icon {
}

.btn--icon i {
  padding-right: rem(4);
  color: $grey-2;
  vertical-align: middle;
}

.btn--text,
.btn--icon,
.btn--star {
  font: $button-text;
  background: $button;
  color: $white;
  padding: rem(8) rem(16);
  border: 1px solid $color-border;
  transition: 0.1s cubic-bezier(0.3, 0, 0.5, 1);

  &:hover {
    border: 1px solid $grey;
  }
}

.btn--star {
  padding: rem(2) rem(16);
}
