.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.dot--HTML {
  background: #e34c26;
}

.dot--CSS {
  background: #563d7c;
}

.dot--JavaScript {
  background: #f1e05a;
}
.dot--SCSS {
  background: #c6538c;
}

.dot--TypeScript {
  background: #2b7489;
}
.dot--Ruby {
  background: #701516;
}

.dot--Dart {
  background: #00b4ab;
}

.dot--Java {
  background: #b07219;
}

.dot--Elixir {
  background: #6e4a7e;
}

.dot--C {
  background: #178600;
}
