.info {
  display: flex;

  gap: rem(8);
  color: $white;
}

.info__link {
  display: flex;
  align-items: center;
  gap: rem(4);
  color: $grey-2;

  &:hover {
    color: $primary;
  }
}

.info__value {
  font: $body2-semi-bold;
}

.info__link:not(:first-child)::before {
  content: "•";
  color: $grey-2;
}

.info__link:hover {
  color: $primary;
}
