.profile {
  display: flex;
  flex-direction: column;
  gap: rem(24);
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  gap: rem(8);
}

.profile__buttons .btn {
  flex: 1;
}

.profile__buttons {
  order: 1;
}

@media screen and (min-width: 768px) {
  .profile__buttons {
    order: 0;
  }
}
