.search {
  display: flex;
}

.search__input {
  flex: 1;
  border: 1px solid $color-border;
  border-radius: rem(8);
  padding: rem(8) rem(16);
  color: $grey-2;

  &:focus {
    outline: none;
    border-color: $focus;
    box-shadow: 0px 0px 0px 3px #0c2d6b;
  }
}
